name: cd

on:
  push:
    branches:
      - testCdDocker

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker registry
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t cli-image:latest .

      - name: Push Docker Image to Registry
        run: docker tag cli-image:latest ejosborn/cliapp:latest && docker push ejosborn/cliapp:latest
